root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.nix]
indent_style = space
indent_size = 2

[*.bash]
indent_style = table

[*.gpg]
insert_final_newline = false
end_of_line = crlf

[Justfile]
indent_style = space
indent_size = 4
